body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Bloc-graphique-standard {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}
table.Tableau-simple {
	border-collapse:collapse;
	border-color:#f28e1c;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Tableau-simple {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#f28e1c;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#f28e1c;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#f28e1c;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#f28e1c;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
table.Aucun-style-de-tableau {
	border-collapse:collapse;
	border-color:#f28e1c;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Aucun-style-de-tableau {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#f28e1c;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#f28e1c;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#f28e1c;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#f28e1c;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.coul-01-sous-titre {
	background-color:#ffffff;
	border-bottom-color:#f28e1c;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-color:#f28e1c;
	border-right-width:1px;
	border-top-color:#f28e1c;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:1px;
	padding-right:1px;
	padding-top:4px;
}
td.coul-01-texte {
	background-color:#ffffff;
	border-bottom-color:#f28e1c;
	border-bottom-width:1px;
	border-left-color:#f28e1c;
	border-left-width:1px;
	border-right-color:#f28e1c;
	border-right-width:1px;
	border-top-color:#f28e1c;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:1px;
	padding-right:1px;
	padding-top:4px;
	vertical-align:middle;
}
td.coul-01-titre {
	background-color:#f28e1c;
	border-bottom-color:#f28e1c;
	border-bottom-width:1px;
	border-left-color:#f28e1c;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:1px;
	padding-right:1px;
	padding-top:4px;
}
td.coul-02-sous-titre {
	background-color:#ffffff;
	border-bottom-color:#2e7a43;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-color:#2e7a43;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#2e7a43;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:1px;
	padding-right:1px;
	padding-top:4px;
}
td.coul-02-texte {
	background-color:#ffffff;
	border-bottom-color:#2e7a43;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#2e7a43;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#2e7a43;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#2e7a43;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:1px;
	padding-right:1px;
	padding-top:4px;
	vertical-align:middle;
}
td.coul-02-titre {
	background-color:#2e7a43;
	border-bottom-color:#2e7a43;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:1px;
	padding-right:1px;
	padding-top:4px;
}
p.Paragraphe-standard {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.normal {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic LT Book", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.normalrond {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic LT Book", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	
	margin-bottom:10px;
	margin-left:6px;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-6px;
	text-transform:none;
	widows:1;
}
p.onglet00exemple {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic LT Book", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.133;
	margin-bottom:10px;
	margin-left:9px;
	margin-right:3px;
	margin-top:3px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.onglet00tableauxsoustitre {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic LT Medium Condensed", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.onglet00tableauxtexte {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC Franklin Gothic LT Book Condensed", sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.onglet00tableauxtitreLC {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"ITC Franklin Gothic LT Demi Condensed", sans-serif;
	font-size:20px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.125;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.onglet00titre1 {
	-epub-hyphens:none;
	color:#009eaa;
	font-family:"ITC Franklin Gothic Std Bk Cp", sans-serif;
	font-size:30px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.onglet00titre2 {
	-epub-hyphens:none;
	color:#009eaa;
	font-family:"ITC Franklin Gothic Std Bk Cp", sans-serif;
	font-size:22px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.071;
	margin-bottom:10px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.onglet00titre3 {
	-epub-hyphens:none;
	color:#009eaa;
	font-family:"ITC Franklin Gothic Std Bk Cp", sans-serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:0.9;
	margin-bottom:8px;
	margin-left:0;
	margin-right:0;
	margin-top:15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.pagination {
	color:#000000;
	font-family:"ITC Franklin Gothic Std Bk Cp", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}

